.catalog {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    &>button {
        align-self: center;
        max-width: max-content;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 40px;
}